.card {
    box-sizing: border-box;
    background: #fff;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;

    & img {
        max-width: 100%;
        height: auto;
    }

    & .imgWrapper {
        max-width: 100%;
        max-height: auto;
        min-height: 250px;
        min-width: 100%;
    }
}